[Unit]
Description=Crypto Egg Container

[Service]
TimeoutStartSec=0
Restart=always
ExecStart=/usr/bin/crypto-egg-go-server

[Install]
WantedBy=multi-user.target
