[Unit]
Description=Crypto Egg Container
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
Restart=always
ExecStartPre=-/usr/bin/docker stop -t 1 %n
ExecStartPre=-/usr/bin/docker rm %n
ExecStart=/usr/bin/docker run --rm --name %n -p 10000:10000 crypto-egg-go/server

[Install]
WantedBy=multi-user.target
